.topic {
    height: auto;
    border-radius: 8px;
    box-shadow: 1px 7px 8px 8px rgba(183, 183, 183, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.card {
    position: relative;
    padding: 15px;
    border: none;
    
}
.img-div{
    width: 100%;
    border-radius: 8px;
    background-color: rgb(227, 227, 227);
}
.topic img {
    width: 100%;
    border-radius: 8px;
}

.topic-conatiner {
    margin: 10px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 19px;
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 10px auto 0px auto;

}

.btn-add {
    padding: 10px 5px;
    color: white;
    background: rgb(71, 71, 71);
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-text {
    margin-top: 0;
}

.btn-add:hover {
    background-color: rgb(47, 47, 47);
}